<div class="col-md-12">
  <h1>Book Series one</h1>
</div>

<div class="container" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-6" style="font-size:22px">Book 1</div>
    <button onclick="getpost()">View Book Information</button>
  </div>
</div>

<div class="container" style="text-align:center">
    <div class="row" style="text-align:center">
      <div class="col-md-6" style="font-size:22px">Book 2</div>
      <button onclick="getpost()">View Book Information</button>
    </div>
  </div>

  <div class="container" style="text-align:center">
      <div class="row" style="text-align:center">
        <div class="col-md-6" style="font-size:22px">Book 3</div>
        <button onclick="getpost()">View Book Information</button>
      </div>
    </div>

    <div class="container" style="text-align:center">
        <div class="row" style="text-align:center">
          <div class="col-md-6" style="font-size:22px">Book 4</div>
          <button onclick="getpost()">View Book Information</button>
        </div>
      </div>

      <div class="container" style="text-align:center">
          <div class="row" style="text-align:center">
            <div class="col-md-6" style="font-size:22px">Book 5</div>
            <button onclick="getpost()">View Book Information</button>
          </div>
        </div>
